body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 20px;
}

.container {
  margin: auto;
  padding: 20px;
  max-width: 44.125rem;
}

.title {
  text-align: start;
  font-size: 14px;
  margin: 10px 0;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px;
  padding: 10px;
  color: black;
}