.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 488px;
  margin: 0 auto;
}

input[type="text"] {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #e0e0e0;
  color: #333;
  font-size: 16px;
  outline: none;
  text-align: center;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

input[type="text"]::placeholder {
  color: #555;
}

.topnav .heart-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: #374957;
}